---
import '../styles/global.css';
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { Image } from 'astro:assets';
import imagePremiumBox from '../assets/premiun-gift-box.png';
import imageDeliveryBox from '../assets/delivery-box.png';
import productPackagingImage from '../assets/packaging.png';
import rigidBoxImage from '../assets/rigid-box.png';
import giftBoxImage from '../assets/gift-box.png';
import ecoFriendlyBoxImage from '../assets/eco-friendly-box.png';
---

<html lang="es">
    <Header />
    <body>
        <Navigation />
        <section class="bg-blue-600 text-white py-16">
            <div class="container mx-auto px-4 text-center">
                <h1 class="text-3xl md:text-4xl font-bold mb-4">Solución - Empaques Personalizados</h1>
                <p class="text-xl max-w-2xl mx-auto">Eleva la presentación de tu producto con empaques a la medida.</p>
            </div>
        </section>

        <section class="py-16 bg-white">
            <div class="container mx-auto px-4">
                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
                    <!-- Box Product 1 -->
                    <div class="product-card bg-gray-50 rounded-lg overflow-hidden shadow-sm">
                        <div class="h-64 bg-gray-200 flex items-center justify-center">
                            <Image src={imagePremiumBox} alt="Caja de lujo" class="w-full h-full object-cover" />
                        </div>
                        <div class="p-6">
                            <h3 class="text-xl font-semibold mb-2">Premium Gift Box</h3>
                            <p class="text-gray-600 mb-4">
                                Cajas elegantes con cierre magnético, perfectas para productos de alta gama y regalos corporativos..
                            </p>
                            <div class="flex flex-wrap gap-2 mb-4">
                                <span class="bg-blue-100 text-blue-800 text-xs font-medium px-2.5 py-0.5 rounded">Cierre Magnético</span>
                                <span class="bg-blue-100 text-blue-800 text-xs font-medium px-2.5 py-0.5 rounded">Tamaños Personalizados</span>
                                <span class="bg-blue-100 text-blue-800 text-xs font-medium px-2.5 py-0.5 rounded">Estampado en Foil</span>
                            </div>
                            <button class="w-full bg-blue-600 text-white py-2 rounded hover:bg-blue-700 transition-colors" onclick="showPage('contact')">
                                Cotizar
                            </button>
                        </div>
                    </div>

                    <!-- Box Product 2 -->
                    <div class="product-card bg-gray-50 rounded-lg overflow-hidden shadow-sm">
                        <div class="h-64 bg-gray-200 flex items-center justify-center">
                            <Image src={imageDeliveryBox} alt="Cajas para Envíos" class="w-full h-full object-cover" />
                        </div>
                        <div class="p-6">
                            <h3 class="text-xl font-semibold mb-2">Cajas para envíos</h3>
                            <p class="text-gray-600 mb-4">Cajas resistentes y personalizables, ideales para e-commerce y servicios de suscripción.</p>
                            <div class="flex flex-wrap gap-2 mb-4">
                                <span class="bg-blue-100 text-blue-800 text-xs font-medium px-2.5 py-0.5 rounded">Ecológicas</span>
                                <span class="bg-blue-100 text-blue-800 text-xs font-medium px-2.5 py-0.5 rounded">Impresión a Todo Color</span>
                                <span class="bg-blue-100 text-blue-800 text-xs font-medium px-2.5 py-0.5 rounded">Autoensamblables</span>
                            </div>
                            <button class="w-full bg-blue-600 text-white py-2 rounded hover:bg-blue-700 transition-colors" onclick="showPage('contact')">
                                Cotizar
                            </button>
                        </div>
                    </div>

                    <!-- Box Product 3 -->
                    <div class="product-card bg-gray-50 rounded-lg overflow-hidden shadow-sm">
                        <div class="h-64 bg-gray-200 flex items-center justify-center">
                            <Image src={productPackagingImage} alt="Empaques para producto" class="w-full h-full object-cover" />
                        </div>
                        <div class="p-6">
                            <h3 class="text-xl font-semibold mb-2">Empaque de Producto</h3>
                            <p class="text-gray-600 mb-4">Empaques minoristas personalizados diseñados para destacar en estantería y reforzar la marca.</p>
                            <div class="flex flex-wrap gap-2 mb-4">
                                <span class="bg-blue-100 text-blue-800 text-xs font-medium px-2.5 py-0.5 rounded">Opción con Ventana</span>
                                <span class="bg-blue-100 text-blue-800 text-xs font-medium px-2.5 py-0.5 rounded">Varios Diseños</span>
                                <span class="bg-blue-100 text-blue-800 text-xs font-medium px-2.5 py-0.5 rounded">Insertos Personalizados</span>
                            </div>
                            <button class="w-full bg-blue-600 text-white py-2 rounded hover:bg-blue-700 transition-colors" onclick="showPage('contact')">
                                Cotizar</button
                            >
                        </div>
                    </div>

                    <!-- Box Product 4 -->
                    <div class="product-card bg-gray-50 rounded-lg overflow-hidden shadow-sm">
                        <div class="h-64 bg-gray-200 flex items-center justify-center">
                            <div class="h-64 bg-gray-200 flex items-center justify-center">
                                <Image src={rigidBoxImage} alt="caja rígida" class="w-full h-full object-cover" />
                            </div>
                        </div>
                        <div class="p-6">
                            <h3 class="text-xl font-semibold mb-2">Caja Rígida</h3>
                            <p class="text-gray-600 mb-4">Cajas de lujo con acabados premium para productos exclusivos y ocasiones especiales.</p>
                            <div class="flex flex-wrap gap-2 mb-4">
                                <span class="bg-blue-100 text-blue-800 text-xs font-medium px-2.5 py-0.5 rounded">Con Relieve</span>
                                <span class="bg-blue-100 text-blue-800 text-xs font-medium px-2.5 py-0.5 rounded">Diseños Exclusivos</span>
                                <span class="bg-blue-100 text-blue-800 text-xs font-medium px-2.5 py-0.5 rounded">Cierre con Cinta</span>
                            </div>
                            <button class="w-full bg-blue-600 text-white py-2 rounded hover:bg-blue-700 transition-colors" onclick="showPage('contact')">
                                Cotizar</button
                            >
                        </div>
                    </div>

                    <!-- Box Product 5 -->
                    <div class="product-card bg-gray-50 rounded-lg overflow-hidden shadow-sm">
                        <div class="h-64 bg-gray-200 flex items-center justify-center">
                            <Image src={giftBoxImage} alt="Caja de regalo corporativa" class="w-full h-full object-cover" />
                        </div>
                        <div class="p-6">
                            <h3 class="text-xl font-semibold mb-2">Caja de Regalo Corporativa</h3>
                            <p class="text-gray-600 mb-4">
                                Cajas personalizadas para eventos corporativos, agradecimientos a empleados y regalos para clientes.
                            </p>
                            <div class="flex flex-wrap gap-2 mb-4">
                                <span class="bg-blue-100 text-blue-800 text-xs font-medium px-2.5 py-0.5 rounded">Desayunos</span>
                                <span class="bg-blue-100 text-blue-800 text-xs font-medium px-2.5 py-0.5 rounded">Obsequios Navideños</span>
                                <span class="bg-blue-100 text-blue-800 text-xs font-medium px-2.5 py-0.5 rounded">Acabados Metálicos</span>
                            </div>
                            <button class="w-full bg-blue-600 text-white py-2 rounded hover:bg-blue-700 transition-colors" onclick="showPage('contact')">
                                Cotizar</button
                            >
                        </div>
                    </div>

                    <!-- Box Product 6 -->
                    <div class="product-card bg-gray-50 rounded-lg overflow-hidden shadow-sm">
                        <div class="h-64 bg-gray-200 flex items-center justify-center">
                            <Image src={ecoFriendlyBoxImage} alt="Empaques Ecológicos" class="w-full h-full object-cover" />
                        </div>
                        <div class="p-6">
                            <h3 class="text-xl font-semibold mb-2">Empaques Ecológicos</h3>
                            <p class="text-gray-600 mb-4">Línea de empaques sostenibles hechas con materiales reciclados y biodegradables.</p>
                            <div class="flex flex-wrap gap-2 mb-4">
                                <span class="bg-blue-100 text-blue-800 text-xs font-medium px-2.5 py-0.5 rounded">Reciclables</span>
                                <span class="bg-blue-100 text-blue-800 text-xs font-medium px-2.5 py-0.5 rounded">Biodegradables</span>
                                <span class="bg-blue-100 text-blue-800 text-xs font-medium px-2.5 py-0.5 rounded">Tintas a base de Soya</span>
                            </div>
                            <button class="w-full bg-blue-600 text-white py-2 rounded hover:bg-blue-700 transition-colors" onclick="showPage('contact')">
                                Cotizar</button
                            >
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="py-12 bg-gray-50">
            <div class="container mx-auto px-4 text-center">
                <h2 class="text-2xl font-bold mb-6">¿Buscas algo distinto?</h2>
                <p class="text-gray-600 mb-8 max-w-2xl mx-auto">
                    Nos especializamos en crear soluciones únicas de empaque adaptadas a tus necesidades específicas. Contáctanos para hablar de tu proyecto.
                    <button
                        class="bg-blue-600 text-white font-medium py-3 px-8 rounded-lg hover:bg-blue-700 transition-colors shadow-md"
                        onclick="showPage('contact')">Contacta a Nuestro Equipo de Diseño</button
                    >
                </p>
            </div>
        </section>
    </body><Footer />
</html>
